/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;


}

html{
    font-size: 62.5%; /* 1rem = 10px */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --main-font-size: 1.6rem;  /* 16px */
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 2.2rem; /* 22px */
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title { 
    font-size: var(--main-font-size); /* 16px */
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** header ***********/

header{
    width: 100%;
    max-width: 1440px;
    height: 79px;
    font-size: var(--main-font-size);
    display: flex;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo{
    width: 61.09px;
    height: 19px;
    display: block;
}
.header__nav{
    width: 245px;
    
}
.header__nav ul{
    display: flex;
    justify-content: space-between; 
    margin: auto;
    padding: 0;
}
.header__nav li{
    box-sizing: border-box;
    height: 35px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header__nav li:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    cursor: pointer;
}

/****** Search Area ***********/

.search-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

/*Headline */

.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 53px;
    gap: 8px;
}

.headline__title, .headline__text {
    margin: 0; /* Reset margin for h1 and p*/
}

/* Search Bar */

.search-form{
    display: flex;
}

.fa-location-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    background-color: var(--main-bg-color);
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    font-size: 2.2rem;
}

.search-form__input{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--main-bg-color)
}

.search-form__input::placeholder{
    color:black;
    opacity: 1; /* Prevents default grey placeholder color on Firefox */
}

.search-form__btn{
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    border: 1px solid var(--main-color)
}

.search-form__btn:hover{
    cursor: pointer;
}

/*Filters */

.filters{
    display: flex;
    height: 50px;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.filters__title{
    font-size: 1.8rem;
    font-weight: 700;
}

.filters__buttons{
    display: flex;
    gap: 15px;
}

.filters__buttons--row1 , .filters__buttons--row2{
    display: flex;
    gap: 15px;
}

.filters__btn{
    display: flex;
    flex-shrink: 0;
    font-size: 1.7rem;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    align-items: center;
    gap: 10px;
}

.filters__btn:hover{
    background: var(--Blue-Light, #DEEBFF);
}

/* info */

.info-bar{
    display: flex;
    gap: 10px;
    font-size: var(--main-font-size);
    align-items: center;
    height: 22px;
}

.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid var(--filter-bg-color);
    width: 24px;
    height: 24px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.hebergements__title{
    margin: 0; /* Reset margin for h2 */
    font-size: 2.2rem;
}

.hebergements__cards--row1, .hebergements__cards--row2{
    display: flex;
    gap: 30px;
    width: 100%;    
    height: 100%;
}

.hebergements-link{
    width: 100%;
    height: 100%;
}

.vertical-cards img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}

.vertical-cards{
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
}
.vertical-cards .card-content {
    width: 100%;
    height: 83.25px;
    margin-top: 4px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.vertical-cards .card-title {
   margin-top: 0;
   margin-bottom: 8px;
}

.vertical-cards .card-subtitle {
    margin:0;
    margin-bottom: 8px;
    font-size: 1.4rem;
}
.vertical-cards .card-rating {
    margin:0;
    font-size: 1.4rem;
}

.show-more-link{
    font-size: 1.8rem;
    font-weight: 700;
}
/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-title i{
    font-size: var(--main-font-size);
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px; 
 }

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 1.4rem;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

li{
    list-style-type: none;
}

/****** Activités ***********/

.activites{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.activites__title{
    font-size: 2.2rem;
    margin: 0;
}

.activites__link{
    width: 100%;
}
.activites__cards{
    display: flex;
    width: 100%;
    gap: 30px;
}

.big-activites-cards{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 439px;
}

.big-activites-cards img{
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.big-activites-cards .card-content{
    padding: 20px 19px 20px 19px;
}

.big-activites-cards .card-title{
    margin:0;
}

/****** Activités ***********/

footer{
    width:100%;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
    
}
.footer-content{
    width: 33.33%;
    padding: 20px;
}
.footer-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.footer-list{
    padding: 0;
}

.footer-list li{
    padding-left: 0;
    margin-top: 15px;
    font-size: var(--main-font-size);
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 1.4rem; /* 14px */
    }

    .populaires-cards .card-subtitle {
        font-size: 1.3rem; /* 13px */
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}